// GENERAL SETTINGS
@import "setup";

@mixin fontSize($fontSize) {
	font-size: $fontSize *1px;
	font-size: ($fontSize / 10) * 1rem;
}

$purple: #7426d9;
$green: #D0CB71;
$seafoam: #a7e2b7;

html {
	font-size: 62.5%;
}

body {
	@include fontSize(16);
	font-family: "Montserrat";
	max-width: 1280px;
	width: 100%;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 80%; 
	margin: 0 auto;
}
// HEADER
nav {
	background: rgba(167, 226, 183, 0.9);
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	// display: none;
	ul {
		display: flex;
		// justify-content: space-between;
		margin: 0;
		li {
			list-style: none;
			p{
				color: black;
				font-family: "Archino Black", sans-serif;
				font-weight: 700;
				letter-spacing: 0.5rem;
				color: $purple;
				margin: 15px 0 0 -8px;
				text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
			}
			img {
				margin:0 auto;
				margin: 5px 15px 0 0;
				padding: 3%;
			}
		}
	}
}

header {
	height: 100vh;
	background: url(../assets/puppyhero.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	.box {
		background: rgba(255,255,255, 0.6);
		border: 4px solid $seafoam;
		width: 10%;
		margin: 10% 0 0 62%;
		padding: 0 2% 5%;
	}
	h1 {
		font-family: "Archino Black", sans-serif;
		color: $seafoam;
		text-align: center; 
		@include fontSize(80);
		padding: 10% 0 0;
		margin: 5% 0 0;
		text-transform: uppercase;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
	p {
		font-family: "Montserrat", sans-serif;
		color: black;
		text-align: center; 
		@include fontSize(15);
		letter-spacing: .2rem;
		padding: 0;
		color: $purple;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
}

.search {
	background: $seafoam;
	padding: 1%;
	margin: 0 auto;
	form {
		text-align: center;
		margin: 50px 0 0 0;
		input {
			margin: 0 auto;
			padding: 1% 10%;
		}
		input, textarea {
			color: $purple;
			font-size: 2rem;
		}
	}
}
.searchLogo {
	margin: 0 46% -50px;
	padding: 0;
}

.number {
	color: $purple;
}

// DOG SECTION
section {
	padding: 0% 0;
	h2 {
		@include fontSize(32);
		text-align: center;
		color: $green;
	}
}
div.dogGallery {
	display: flex;
	flex-position: column;
	flex-wrap: wrap;
	justify-content: space-between;
	div.dogBox {
		flex: 1 0 calc(20% - 20px);
		height: 250px;
		margin: 10px;
		padding: 0;
		background: $green;
		position: relative;
	}
}
div.overlay {
	background: rgba(208,203,113,0.7);
	color: $purple;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	opacity: 0;
	margin: 0;
	padding:5;
	transition: opacity 0.5s;
	p {
		padding: 2%;
	}
	.dogName {
		text-align: center;
		font-family: "Montserrat";
		font-weight: 700;
		@include fontSize(20);
	}
}
.dogGallery .dogBox:hover div.overlay {
	opacity: 1;
}


// FOOTER
footer {
margin-top: 15%;
text-align: center;
background: $seafoam;
margin: 0;
	ul {
		display: flex;
		list-style: none;
		margin: 0 auto;
		width: 30%;
	}
	li {
		margin: 0 auto;
	}
	p {
		padding: 3px 0;
		margin: 0;
	}
	i {
		color: $purple;
		margin: 3px 0 0 0;
	}
}

.hide {
	display: none;
}
.hide2 {
	display: none;
}
.hide3 {
	display: none;
}
.hidden {
	display: none;
}
#close {
	display: none;
}
.show {
	display: flex;
}
.show2 {
	display: block;
}
.show3 {
	display: flex;
}
.show4 {
	display: block;
}


// MODAL

#cool {
	position: fixed;
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	background: #fff;
	z-index: 999999;
	border-radius: 10px;
	border: 3px solid grey;
}

.message {
	// position: absolute; 
	// top: 20%;
	// text-align: center;
	// left: 0;
	// right: 0;
	font-size: 4rem;
}

#closeButton {
    position:absolute;
    display:block;
    top: 0;
    right: 0;
}

.hideModal {
	display: none;
}

