// GENERAL SETTINGS
@import "setup";

@mixin fontSize($fontSize) {
	font-size: $fontSize *1px;
	font-size: ($fontSize / 10) * 1rem;
}

$orange: #fb9a6e;

// #F0544F;

$blue: #C6D8D3;
$white: #FDF0D5;
$purple: #45373c;



html {
	font-size: 62.5%;
}

body {
	@include fontSize(16);
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.container {
	max-width:98%;
	margin: 0 auto;
}

.wrapper {
	width: 1250px; 
	margin: 0 auto;
}

// HEADER

header {
	height: 100vh;
	background: url(../assets/puppyflipped.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin: 0;
	padding: 0 0;
	position: relative;
	.box {
		background: rgba(249,241,237,0.6);
		border: 4px solid $purple;
		width: 40%;
		padding: 10% 2% 5%;
		position: absolute;
		top: 70px;
		left: 30px;
	}
	h1 {
		font-family: "Raleway" sans-serif;
		color: $purple;
		text-align: left; 
		@include fontSize(70);
		padding: 0 0;
		position: absolute;
		top:0;
		margin: 50px 0 0 0;
		text-transform: uppercase;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
	p {
		font-family: "Yellowtail", script;
		text-align: left; 
		@include fontSize(29);
		letter-spacing: .2rem;
		padding: 0;
		color: $purple;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
	form {
		text-align: left;
		margin: 40px 0 0 0;
		background-color: rgba(249,241,237,0);
		input {
			padding: 1% 10%;
		}
		input[type=search] {
			padding: 12px 125px 12px 10px;
		}
		input[type=search]:active, input[type=search]:focus, input[type=search]:enabled {
			background-color: white;
			border: 1px solid $purple;
		}
		input[type=submit] {
			background-color: $orange;
			color: $purple;
			font-family: "Raleway", sans-serif;
			font-weight: 500;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
			border: 1px solid $purple;
			padding: 12px 25px;
		}
	}
}

.resultsHeader {
	padding: 5% 0;
	.searchLogo {
		margin: 0 auto;
		padding: 0 0px 0 0;
		width: 10%;
	}
	p {
		text-align: center;
		font-family: "Yellowtail", script;
		@include fontSize(29);
		letter-spacing: 0.2rem;
		color: $orange;
	}
}

// DOG SECTION

section.head {
	padding: 100px 0;
}

section.dogs {
	padding: 10% 0;
	h2 {
		@include fontSize(32);
		text-align: center;
		color: $purple;
	}
}
div.dogGallery {
	padding-bottom: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	div.dogBox {
		flex: 1 0 27%;
		height: 300px;
		margin: 3%;
		padding: 0;
		background: rgba(253, 240, 213, 0.7);
		position: relative;
	}
}
div.overlay {
	background-color: rgba(255, 219, 198,0.7);
	color: $purple;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	opacity: 0;
	margin: 0;
	padding:5;
	transition: opacity 0.5s;
	p {
		padding: 2%;
		margin-left: 10px;
		font-family: "Raleway", sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: $purple;
	}
	.dogName {
		text-align: center;
		font-family: "Raleway", sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2rem;
		@include fontSize(22);
	}
}
.dogGallery .dogBox:hover div.overlay {
	opacity: 1;
}


// FOOTER
footer {
margin-top: 15%;
text-align: center;
background: $orange;
color: $purple;
margin: 0;
	ul {
		display: flex;
		list-style: none;
		margin: 0 auto;
		width: 30%;
	}
	li {
		margin: 0 auto;
	}
	p {
		padding: 3px 0;
		margin: 0;
	}
	i {
		color: $purple;
		margin: 3px 0 0 0;
	}
	a {
		text-decoration: none;
		color: $purple;
	}
}

.hide {
	display: none;
}
.hide2 {
	display: none;
}
.hide3 {
	display: none;
}
.hidden {
	display: none;
}
#close {
	display: none;
}
.show {
	display: block;
}
.show2 {
	display: block;
}
.show3 {
	display: flex;
}
.show4 {
	display: block;
}



// MODAL
.alert {
	position: fixed;
	top: 5%;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(249,241,237,0.9);
	z-index: 100;
	width: 80%;
	height: 92%;
	margin: 0 auto;
	h2 {
		color: $orange;
		font-family: "Yellowtail", sans-serif;
		// text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.2rem;
		@include fontSize(52);
		margin: 5px 0 0;

	}
	p {
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		color: $purple;
	}

	.message {
		position: absolute; 
		text-align: center;
		left: 0;
		right: 0;
	}
	img {
		width: 20%;
	}
}

.hidden {
	display: none;
}

#closeButton {
	position: absolute;
	display:block;
	top: 15px;
	right: 30px;
	font-size: 30px;
	color: $orange;
}

.alert .message p.dogModal {
	padding: 0;
	margin: 0;
	font-size: 30px;
}
